{
    "presets": [
        "next/babel",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "16.14.0"
                }
            }
        ]
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true
            },
            "macros"
        ]
    ]
}